SERVER_PORT=3000

DATABASE_PROVIDER=mysql

# When DATABASE_PROVIDER is 'mysql'
MYSQL_HOST=localhost
MYSQL_USER=username
MYSQL_PASSWORD=secret
MYSQL_DATABASE=mydatabase

CACHE_PROVIDER=redis

QUEUE_PROVIDER=sqs
QUEUE_NAME=myqueue

# When QUEUE_PROVIDER is 'sqs'
SQS_CLIENT_VERSION=latest
SQS_CLIENT_REGION=us-west-2
SQS_CLIENT_KEY=aws_key
SQS_CLIENT_SECRET=aws_secret

# Integrations define 3rd party infrastructure providers. E.g. you want to
# send emails through AWS then 'aws' is the email provider.

INTEGRATION_EMAIL=aws
INTEGRATION_SMS=aws
INTEGRATION_PUSH=aws
INTEGRATION_CALLBACK=aws
